.body{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 245, 250);;
}
.header{
    /* margin-top: -23px; */
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    
}
.Logo {
    height: auto;
    width: 100px;
    font-size: ;
    /* align-items: ; */
    color: #ffffff;
    /* background-image: url(/jsort/src/assets/images/logo.png); */
  }

.Op-buttons{
    position: relative;
    bottom: 0;
}

/* content start */
.Sort-Buttons {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
    
}

.container{
    /* background-color: #c94e10; */
    background-color:rgb(243, 245, 250);
    /* display: flex; */
    /* position: absolute; */
    /* top: 50px; */
    /* left: 100px; */
    /* bottom: 200px; */
    /* right: 50px; */
    /* color: rgb(0, 0, 0); */
    /* margin-top: 300px; */
    /* max-height: 50vh; */
    /* min-height: auto; */
    padding-top: 2%;
    padding-left: 3%;
    min-width: 90vw;
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    perspective: 2500px;
    transform: scale(1);
    /* margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px; */
    /* margin-right: -25px;
    margin-bottom: 25px; */
    /* margin-left : 100px; */
    transition: transform 2s ease 0s;
    /* rgb(243, 245, 250);; */
}

.array-bars {
    /* background-color: rgb(204, 157, 125); */
    width: 1.8px;
    height: 20px; 
    margin: 0 0.5px;
    /* display: inline-block;  */
    display: flex; 
    /* flex-direction: row; */
    /* align-items: flex-end;  */
    /* justify-content: center; 
    height: 85%;
    /* width: 2px; */
    /* transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); 
    transition: transform 2s ease 2s; */
     
    height: 59%;
    width: 1%;
    cursor: pointer;
    transform: scale(1);
    transition: all 1s ease 0s;

    background: linear-gradient(0deg,#d4d113 50%,#aad388 85%,#94978d);
    box-shadow: 1px 0 0 0 #c94e10;
    /*animation: progress-bar 5s infinite ease-in; */
}

.array-bars:hover {
    background-color: rgb(246, 4, 4);
    size: 120%;
 }

/* @keyframes progress-bar  {
    0% { width: 20%; }
    100% { width: 100%; }
} */

.content{
    display: flex;
    position: fixed;
    top: 103px;
    left: 0;
    bottom:0;
    right:0;
}